<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>218157652041-1i5u0rcaenueo7oo1g93dtegep0r6md9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.218157652041-1i5u0rcaenueo7oo1g93dtegep0r6md9</string>
	<key>API_KEY</key>
	<string>AIzaSyAd1e0orCqYivaR0v8xW900jQIA9OIrrf8</string>
	<key>GCM_SENDER_ID</key>
	<string>218157652041</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.obateruJoshuaWeightTrackerApp</string>
	<key>PROJECT_ID</key>
	<string>weight-tracker-8a198</string>
	<key>STORAGE_BUCKET</key>
	<string>weight-tracker-8a198.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:218157652041:ios:1b102e7a6d61c2a8de0798</string>
</dict>
</plist>